.container {
    flex: 1;
    width: 100%;
}
.widget{
    width: 100%;
    border: 1px solid;
    padding: 0.5rem;
    display: flex;
    gap:0.7rem;
    margin-block: 0.5rem;
}
.imagecontainer{
    height: 150px;
    width: 150px;
    position: relative;
}
.title{
    flex:1
}
.qtyContainer{
    
}
.qty{
    margin-inline: 0.5rem;
}