.container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    gap: 1rem;
    border-right: 1px solid grey;
    padding-right: 0.5rem;
}
.widget{
    border: 1px solid #a5a5a5;
    padding-bottom: 0.5rem;
}
.imagecontainer{
    height: 150px;
    width: 100%;
    position: relative;
}
.wrapper{
    text-align: center;
}
.title{
    margin-bottom: 0.5rem;
}
.button{

}