.container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
}
.widget{
    border: 1px solid #a5a5a5;
    padding-bottom: 0.5rem;
}
.image{
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.wrapper{
    text-align: center;
}
.title{
    margin-bottom: 0.5rem;
}
.button{

}